.row
  .span12.offset3
    .hero-unit
      %h1 Dynamic Rendering of Data
      %p This is a simple note to know what is this!

  .span10.offset4
    =form_for 'sqm', :html => {:class => "well"}, :url => sqm_plot_index_path do |s|
      From:
      =s.text_field :from, :class => 'from input-small'
      To:
      =s.text_field :to, :class => 'to input-small'
      Instrument:
      =s.select(:Instrument, options_from_collection_for_select(Instrument.all, "id", "name"),{}, {:class => "span2"})
      Exclude full moon +/- 7 days?
      =check_box('sqm','lunar')
      Exclude samples earliers than 22:00 and later than 5:00?
      =check_box('sqm','hours')
      Don't auto-aggregate
      =check_box('sqm','noautoscope')
      =s.submit "render!"
