:javascript
  $(function() {
    var dates = $( ".from, .to" ).datepicker({
      defaultDate: "-3m",
      changeMonth: true,
      numberOfMonths: 3,
      dateFormat: "yy-mm-dd",
      onSelect: function( selectedDate ) {
        var option = this.id == "from" ? "minDate" : "maxDate",
          instance = $( this ).data( "datepicker" ),
          date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings );
            }
    });
  });


.demo
  = form_for 'sqm', :url => sqm_plots_path do |s|
    %p=s.label 'From'
    %p=s.text_field :from, :class => "from"
    %p=s.label 'to'
    %p=s.text_field :to, :class => "to"
    %p=s.submit

